* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    padding: 50px;
    /* flex: 1, 2, 100px; */
    
}

header a, header p {
    border: 5px solid beige;
    /* flex: 1, 1, 50px; */
}

#intro, #final-score, #score-board {
    text-align: justify;
    margin: 200px 300px;
    padding: 10px 40px; 
}

#final-score, #score-board {
  display: none;  
}

.questions { 
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 200px 300px;
    padding: 10px 40px; 
  display: none; /*Used to hide the questions - using display because don't want it to take up space*/
}


#startbutton, #initial-button {
    padding: 10px;
    background-color: pink;
    border: none;
    
}

.questions button {
    margin: 0 450px 5px 10px;
    text-align: left;
}
/* going to want center box to remain larger then the others*/

#clock {
    visibility: hidden;
}  /*   going to want to hide this until called in js - using visibility because want it to still take up the space */


    

